bochscom.txt
bochsout.txt
.DS_Store
*.o
*.d
thesis/ghid_licenta.pdf

thesis/thesis.aux
thesis/thesis.lof
thesis/thesis.log
thesis/thesis.lot
thesis/thesis.pdf
thesis/thesis.toc

thesis/title1.aux
thesis/title1.lof
thesis/title1.log
thesis/title1.lot
thesis/title1.pdf
thesis/title1.toc

thesis/title2.aux
thesis/title2.lof
thesis/title2.log
thesis/title2.lot
thesis/title2.pdf
thesis/title2.toc

thesis/origin.aux
thesis/origin.lof
thesis/origin.log
thesis/origin.lot
thesis/origin.pdf
thesis/origin.toc

thesis/rights.aux
thesis/rights.lof
thesis/rights.log
thesis/rights.lot
thesis/rights.pdf
thesis/rights.toc

thesis/thesis.bbl
thesis/thesis.blg
thesis/thesis.out
thesis/thesis.idx
thesis/thesis.ilg
thesis/thesis.ind
thesis/thesis.lol

thesis/thesis.bcf
thesis/thesis.run.xml

thesis/slides.aux
thesis/slides.log
thesis/slides.nav
thesis/slides.out
thesis/slides.pdf
thesis/slides.snm
thesis/slides.toc
thesis/slides.vrb
